pickledb==0.9.2
html5lib==1.1
fastapi-limiter==0.1.5
sentry-sdk[fastapi]==1.29.2
loguru==0.6.0  # due to: https://github.com/Delgan/loguru/issues/916
uvicorn==0.20.0
Jinja2==3.1.2
fastapi==0.91.0
starlette==0.24.0
gunicorn==21.2.0
redis[hiredis]==4.6.0
xkcdpass==1.19.3
apscheduler==3.10.4
