global
log stdout format raw local0 debug

defaults
timeout connect 5000
timeout client 50000
timeout server 50000

listen socks5
bind *:1080
mode tcp
balance roundrobin
server server0 wgcf1:1080
#server server1 wgcf2:1080
#server server2 wgcf3:1080
#server server3 wgcf4:1080
