<div class="container w-full md:max-w-3xl mx-auto pt-40"></div>
<div class="container w-full mx-auto pt-20 px-8 break-words">
    <div class="flex flex-col items-center justify-center h-60">
        <h1 class="md:max-w-3xl text-4xl font-bold text-center text-green-500 py-8">Freedium: Your paywall breakthrough for medium.com!</h1>
        <div class="md:max-w-6xl bg-white w-full shadow-md rounded-md p-8">
            <div class="flex items-center border rounded-md border-gray-300 px-4 py-2">
                <svg class="h-5 w-5 text-gray-500 mr-2"
                     fill="none"
                     stroke="currentColor"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                <input id="medium-link-input"
                       type="text"
                       placeholder="Enter medium.com post link"
                       class="w-full focus:outline-none text-green-500"
                       onkeydown="if (event.keyCode == 13) document.getElementById('go-button').click()">
                <button id="go-button" class="ml-2 bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 focus:outline-none">Go</button>
            </div>
        </div>
    </div>
</div>
<script>
const goButton = document.getElementById('go-button');

goButton.addEventListener('click', function() {
        const mediumLinkInput = document.getElementById('medium-link-input');
        window.location.href = `${window.location.origin}/${mediumLinkInput.value}`;
});
</script>
