<div class="container w-full md:max-w-3xl mx-auto pt-20 break-words text-gray-900 dark:text-gray-200 bg-white dark:bg-gray-800">
    <div class="w-full px-4 md:px-6 text-xl text-gray-800 dark:text-gray-100 leading-normal" style="font-family:Georgia,serif;">
        <div class="font-sans">
            <p class="text-base md:text-sm text-green-500 font-bold pb-3">
                <a href="{{ url }}#bypass" class="text-sm md:text-sm text-green-500 font-bold no-underline hover:underline ">&lt; Go to the original</a>
            </p>
            {% if previewImageId %}
                <img alt="Preview image"
                     style="max-height: 65vh;
                            width: auto;
                            margin: auto"
                     loading="eager"
                     role="presentation"
                     src="https://miro.medium.com/v2/resize:fit:700/{{ previewImageId }}">
            {% endif %}
            <h1 class="font-bold font-sans break-normal text-gray-900 dark:text-gray-100 pt-6 pb-2 text-3xl md:text-4xl">{{ title }}</h1>
            {% if subtitle %}<h2 class="font-medium font-sans break-normal text-gray-600 dark:text-gray-200 pt-1 text-1xl md:text-1xl">{{ subtitle }}</h2>{% endif %}
        </div>
        <div class="bg-gray-100 dark:bg-gray-600 border border-gray-300 m-2 mt-5">
            <div class="flex items-center space-x-4 p-4">
                <div class="flex-shrink-0">
                    <a href="https://medium.com/@{{ creator.username }}" target="_blank" title="{{ creator.bio }}" class="block relative">
                        <img src="https://miro.medium.com/v2/resize:fill:88:88/{{ creator.imageId or '1*dmbNkD5D-u45r44go_cf0g.png' }}"
                             alt="{{ creator.name }}"
                             class="rounded-full h-11 w-11 no-lightense">
                        <div class="absolute bottom-0 right-0 h-3 w-3 border-2 border-white bg-green-500 rounded-full"></div>
                    </a>
                </div>
                <div class="flex-grow">
                    <a href="https://medium.com/@{{ creator.username }}"
                       target="_blank"
                       title="{{ creator.bio }}"
                       class="block font-semibold text-gray-900 dark:text-white">{{ creator.name }}</a>
                    <button class="text-sm text-white bg-green-500 px-3 py-1 rounded-lg mt-1 dark:bg-green-700">
                        <a href="https://medium.com/@{{ creator.username }}"
                           target="_blank"
                           title="{{ creator.bio }}"
                           class="block text-sm text-white">Follow</a>
                    </button>
                </div>
            </div>
            <div class="px-4 pb-2">
                <div class="flex flex-wrap items-center space-x-2 text-sm text-gray-500 dark:text-white">
                    {% if collection %}
                        <a href="https://medium.com/{{ collection.slug }}"
                           title="{{ collection.shortDescription }}"
                           target="_blank"
                           class="flex items-center space-x-1">
                            <img src="https://miro.medium.com/v2/resize:fill:48:48/{{ collection.avatar.id }}"
                                 alt="{{ collection.name }}"
                                 class="h-4 w-4 rounded-full no-lightense">
                            <p>{{ collection.name }}</p>
                        </a>
                        <span>·</span>
                    {% endif %}
                    <span class="text-gray-500 dark:text-white">~{{ readingTime }} min read</span>
                    <span class="md:inline">·</span>
                    <span class="text-gray-500 dark:text-white">{{ firstPublishedAt }} (Updated: {{ updatedAt }})</span>
                    <span class="md:inline">·</span>
                    <span class="text-yellow-500 dark:text-yellow-400">Free: {{ freeAccess }}</span>
                </div>
            </div>
        </div>
        <div class="main-content mt-8">
            {% for paragraph in content %}{{ paragraph }}{% endfor %}
        </div>
        <div class="flex flex-wrap gap-2 mt-5">
            {% for tag in tags %}<a title="{{ tag.displayTitle }}" target="_blank" href="https://medium.com/tag/{{ tag.normalizedTagSlug }}"><span class="text-green-500 bg-green-100 px-2 py-1 rounded-full text-xs dark:bg-green-800 dark:text-gray-100">#{{ tag.normalizedTagSlug }}</span></a>{% endfor %}
        </div>
        <div class="container w-full md:max-w-3xl mx-auto pt-12"></div>
    </div>
    <style>
.main-content {
 letter-spacing: -0.06px;
 font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}
code {
    background-color: #e3e2e2;
}
pre {
    font-size: 75%;
    background-color: #e3e2e2;
}
p code, ul code, li code {
    font-size: 75%;
}
    </style>
    <script>
document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('pre code').forEach((el) => {
         code = el.textContent;
    hljs.highlightElement(el);
          el = el.parentElement;
         el.innerHTML = '<button class="hljs-copy p-2 bg-gray-100 dark:bg-black">Copy</button>' + el.innerHTML; // append copy button
        el.getElementsByClassName('hljs-copy')[0].contentCopy = code;
         el.getElementsByClassName('hljs-copy')[0].addEventListener("click", function () {
             this.innerText = 'Copying..';
             if (!navigator.userAgent.toLowerCase().includes('safari')) {
                 navigator.clipboard.writeText(this.contentCopy);
             } else {
                 prompt("Clipboard (Select: ⌘+a > Copy:⌘+c)", this.contentCopy);
             }
             this.innerText = 'Copied!';
             button = this;
             setTimeout(function () {
                 button.innerText = 'Copy';
             }, 1500)
         });
});
  });
    </script>
    <style>
     .hljs-copy {
         float: right;
         cursor: pointer;
     }
    </style>
