rl_string_helper==0.1.0
database_lib==0.1.0
aiohttp_socks
loguru==0.6.0
aiohttp==3.9.4
aiohttp-retry==2.8.3
tld==0.13
bs4==0.0.1
Jinja2==3.1.2
beautifulsoup4==4.12.2
async-lru==2.0.4
orjson==3.10.6
asyncer